
#landing-page-Div{
    display: flex;
    justify-content: center;
    gap:150px;
    width:100%;
    margin-top:100px;
}
#landing-left{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap:40px;
    width:51%;
}
#landing-rigth{
    width:40%;
}
#landing-left button{
    width:180px;
    padding:8px;
    color:white;
    background-color:blueviolet;
    border: none;
    border-radius: 5px;
}