

#footer-spanarent{
    width:100%;
    margin-top: 100px;
    background-color:#5301BB;
    display: flex;
    justify-content: center;
    padding:90px;
    gap: 75px;
}
#footer-spanarent h3, span{
    color:white;
}
#footer-Div-2-bottom a{
    color: white;
}
#footer-Div-1{
    width: 30%;
    display: flex;
    flex-direction: column;
    gap:20px;
}
#footer-Div-2{
    width:30%;
    display: flex;
    flex-direction: column;
    gap:20px;
}
#footer-Div-3{
    width:30%;
    display: flex;
    flex-direction: column;
    gap:20px;
}

#footer-Div-2-bottom{
    margin-top:30px;
    display:grid;
    grid-template-columns: repeat(3,1fr);
    gap:10px;
}

#footer-Div-3-bottom{
    display:grid;
    grid-template-columns: repeat(2,1fr);
    gap: 10px;
    margin-top: 30px;
}
#footer-Div-3-tospan{
    display: flex;
    flex-direction: column;
    gap: 7px;
}
#footer-Div-2-tospan{
    display: flex;
    flex-direction: column;
    gap:7px;
}